.footer {
    background-color: whitesmoke; /* O el color que prefieras */
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}